{% load static %}
{% include "base.html" %}

{% block content %}
<div id="chirp-app">
  <!-- <span v-if="seen">
    <ul>
      {% for item in item_list %}
          <li>{{ item.chirp_field }} - {{ item.chirp_author.username }}</li>
      {% endfor %}
    </ul>
  </span> -->
  <span v-if="unseen">
    <ul>
      <li v-for="chirp in chirps">
        {% verbatim %}
        {{ chirp.chirp }} - {{ chirp.author }} posted on {{ chirp.created_on }}
        <ul>
          <li v-for="comm in chirp.comments">
            {{ comm.comment }} - {{ comm.author }} posted on {{ comm.created_on }}
          </li>
          {% endverbatim %}
          {% if user.is_authenticated %}
          <form v-bind:action="'/comment/' + chirp.id + '/'" method="post">
            {% csrf_token %}
            {{ comm_form }}
            <input type="submit" class="button expanded" value="Comment">
          </form>
          {% endif %}
        </ul>
      </li>
    </ul>
  </span>
</div>

{% if user.is_authenticated %}
<form action="/" method="post">
{% csrf_token %}
{{ form.chirp_field.label }}
{{ form.chirp_field }}
{{ form.chirp_field.errors }}
<input type="submit" class="button" value="Post Chirp">
</form>
{% endif %}
{% endblock %}

{% block script %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{% static "js/chirp.js" %}"></script>
{% endblock %}
