{% load static %}
{% include "base.html" %}

{% block content %}
<div id="app-4">
  <span v-if="seen">
    <ul>
      {% for item in item_list %}
          <li>{{ item }}</li>
      {% endfor %}
    </ul>
  </span>
  <span v-if="unseen">
    <ul>
      <li v-for="todo in todos">
        {% verbatim %}
        <!-- {{ todo.text }} -->
        {{ todo.todo }}
        {% endverbatim %}
      </li>
    </ul>
  </span>
</div>

<form action="/" method="post">
{% csrf_token %}
{{ form.todo_field.label }}
{{ form.todo_field }}
{{ form.todo_field.errors }}
<input type="submit" class="button" value="Add To Do Item">
</form>
<p>Fun fact, if you open this page in another window and add a
  a todo item, this window will automatically update
  within 10 seconds. This means that you don't have to
  refresh the page to view new data. Nifty, right?
  Javascript sure is cool and useful.</p>
<br>
<p>(If you want to delete, you better be an admin)</p>
{% endblock %}

{% block script %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{% static "js/todo.js" %}"></script>
{% endblock %}
