body {
  /*text-align: center;*/
  background-color: #cccccc;
}

h2 {
  font-family: Luminari, fantasy;
}

img {
  max-width: 50%;
  height: auto;
}

form {
  display:inline-block;
}

.textInput {
  width: auto;
}

p {
  margin:0 auto;
  width: 70%
}

ul {
  list-style-type: none;
}
